* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.menus {
    position: absolute;
    top: 14%;
    left: 12%;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    width: 1000px;
    height: 500px;
    border-radius: 12px;
    background: linear-gradient(to right, #333 40%, #b3b3b3 40%);
}


.cadastro {
    font-size: 25px;
    text-align: center;
    top: 14%;
    left: 33%;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 12px;
    background: #b3b3b3;
}


.container {

    position: absolute;
    padding: 40px;
    
}

.left{
    
    color: white;
    text-align: center;
    padding: 20px;
    left: 3%;
    top: 25%;

}

.right{

    font-size: 25px;
    text-align: center;
    left: 51%;
    top: 12%;

}


.input-container {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 18px 0;
}

.input-container input {
    width: 100%;
    padding: 12px 80px;
    border: none;
    color: white;
    outline: none;
}

.input-container i {
    position: absolute;
    left: 12px;
    top: 49%;
    transform: translateY(-50%);
    color: #333;
    font-size: 18px;
}

.input-container input{

    background-color: #868686;

}

.input-container input:hover{

    background-color: #686868;

}

.menus .left a{

    margin-top: 120px;
    padding-block: 20px;
    padding-inline: 100px;
    background-color: rgb(4, 122, 40);;
    text-decoration: none;

}

.menus .left a:hover{

    background-color: white;
    color: black;

}

input{

    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;

}


.menus a, .menus button{

    font-size: 20px;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 50px;
    background: rgb(4, 122, 40);
    color: white;
    border: 1px, solid, black;
    cursor: pointer;
    transition: background 0.4s ease;

}

button:hover{

    color: black;
    background: white;

}

body{

    background: #f0f0f0;

}
